streamlit
pandas
numpy
datetime
streamlit_extras
streamlit_chat
bardapi
st_pages
scipy==1.7.3
scikit-learn
explainerdashboard
dash_bootstrap_components
matplotlib
seaborn
folium
streamlit_folium
chardet
pandas_profiling 
streamlit_pandas_profiling 
